html,body,div,p,
h1,h2,h3,h4,h5,h6,
ul,ol,li,
dl,dt,dd,
figure,
form,fieldset,caption,
table,tr,td,th,
address,blockquote,img {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: none;
}

*, *:after, *:before {
  box-sizing: border-box;
}
