.list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap:  20px;
}
@media screen and (min-width: 768px) {
  .list {
    gap: 0;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
  }
}

.item {

}

.article {
  position: relative;
  padding: 20px;
}
.article:hover {
  background: rgba(0, 0, 0, .2);
}

.image {
  display: none;
}

.title.title {
  font-size: 20px;
  padding-top: 0;
}

.description.description {
  font-size: 18px;
  padding-top: 0;
}

.article > time {
  font-size: 12px;
  color: rgba(0,0,0,.5);
}

.link {
  text-decoration: none;
}
.link:hover {
  text-decoration: underline;
}
.link:before {
  content: '';
  position: absolute;
  inset: 0;
}
